# Core Data Handling
pandas==2.2.3
numpy==1.26.4

# Natural Language Processing
nltk==3.9.1
spacy==3.7.5
gensim==4.3.3

# Visualization
matplotlib==3.9.2
seaborn==0.13.2
wordcloud==1.9.3
pyLDAvis==3.4.1

# Machine Learning & Transformers
transformers==4.45.2
torch==2.4.1
huggingface-hub==0.25.2
tqdm==4.66.4

# Web App / Dashboard
streamlit==1.39.0

# Utilities
scikit-learn==1.5.2
joblib==1.4.2